.btnContainer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .btn {
    border: none;
    font-size: 1rem;
    color: #e4d192;
    font-weight: 600;
    cursor: pointer;
    padding: 10px;
  }
  
  .btn:hover {
    background-color: #cba0ae;
  }